@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  margin: 0 2em;
  font-family: "Lobster", Arial;
}
#toplogo {
	border-radius: 50%;
}

#about, #portfolio, #contact {
	font-size: 16px;
    line-height: 30px;
}
h1 {
  color: #333;
  font-size: 42px;
}

.greeting {
  margin-top: 20px;
  margin-bottom: 47px;
}

img {
  border-radius: 12px;
}


hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}


#portfolio2 {
	margin-top: 70px;
}

.sub {
  margin-bottom: 20px;
}
#projects {
	margin-top: 30px;
}

.project {
  padding: 5px;
}

.row {
  margin-bottom: 20px;
}

.text {
	font-size: 18px;
}
aside {
    background:  #999999;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #333;
    margin-bottom: 2em;
	font-size: 18px;
}

#gform {
	font-size: 18px;
}
textarea {
  width: 100%;
}

.button-success {

  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #009900;
}

.button-xlarge {
  font-size: 150%;
  float: right;
}

#name, #email {
  width: 50%;
}

footer {
	margin-top: 20px;
}
